<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/dashboard">Task Manager</a>
      <div class="ml-auto">
        <a href="/logout" class="btn btn-secondary">Logout</a>
      </div>
    </nav>
  </header>
  